.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}

.movie__Detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 10px;
}

.movie__Detail__img {
  position: relative;
  top: -70px;
  max-width: 400px;
  width: 100%;
  margin-right: 50px;
}

.movie__Detail__info {
  position: relative;
  top: 55px;
  opacity: 80%;
}

.title {
  font-size: 35px;
}
